header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
}
div{
  display: flex;
  justify-content: center;
  width: 30vw;
}
button{
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}